<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">
    {# 导航图标显示 #}

    <title>首页</title>
    <script src="/static/js/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/static/css/articleDetail.css">
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/static/bootstrap/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/blog.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/static/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/bootstrap/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        .scroll {
            width: 80%;
        }

        .comment_pd {
            float: right;
            margin-right: 10px;
        }
    </style>
</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <p class="navbar-text scroll">
            <marquee behavior="alternate" direction="right">我已经饥渴难耐了！</marquee>
        </p>
        {% if request.user.is_authenticated %}
            <a class="btn navbar-btn navbar-right" href="/logout/" type="button">退出</a>
            <a class="btn navbar-btn navbar-right" href="/myEditBack/{{ request.user.username }}/" type="button">管理</a>
            <a class="btn navbar-btn navbar-right" href="#" type="button">{{ username }} 的博客</a>
        {% else %}
            <a class="btn navbar-btn navbar-right" href="/register/" type="button">注册</a>
            <a class="btn navbar-btn navbar-right" href="/login/" type="button">登陆</a>
        {% endif %}
    </div>
</nav>
<div class="blog-masthead">
    <div class="container">
        <nav class="blog-nav">
            <a class="blog-nav-item active" href="/index/">Home</a>
            {% for foo in func %}
                <a class="blog-nav-item" href="#">{{ foo.1 }}</a>
            {% endfor %}

        </nav>
    </div>
</div>

<div class="container">
    <div class="blog-header">
        {% block title %}

        {% endblock %}
    </div>

    <div class="row">

        <div class="col-sm-8 blog-main">

            <div class="blog-post">
                {% block content %}

                {% endblock %}
            </div><!-- block content -->

            <nav>
                <ul class="pager">
                    <li><a href="#">Previous</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
            {#养鱼模块#}
            <div class="sidebar-module">
                <object type="application/x-shockwave-flash" style="outline:none;"
                        data="http://cdn.abowman.com/widgets/fish/fish.swf?up_fishColor6=F45540&up_fishColor9=F45540&up_fishName=Fish&up_fishColor4=F45540&up_numFish=6&up_foodColor=FCB347&up_fishColor3=F45540&up_fishColor1=3B2B28&up_fishColor7=30D143&up_backgroundColor=F0F7FF&up_fishColor10=F45540&up_fishColor5=F45540&up_fishColor8=F45540&up_fishColor2=F45540&up_backgroundImage=http://&"
                        width="300" height="200">
                    <param name="movie"
                           value="http://cdn.abowman.com/widgets/fish/fish.swf?up_fishColor6=F45540&up_fishColor9=F45540&up_fishName=Fish&up_fishColor4=F45540&up_numFish=6&up_foodColor=FCB347&up_fishColor3=F45540&up_fishColor1=3B2B28&up_fishColor7=30D143&up_backgroundColor=F0F7FF&up_fishColor10=F45540&up_fishColor5=F45540&up_fishColor8=F45540&up_fishColor2=F45540&up_backgroundImage=http://&"></param>
                    <param name="AllowScriptAccess" value="always"></param>
                    <param name="wmode" value="opaque"></param>
                    <param name="scale" value="noscale"/>
                    <param name="salign" value="tl"/>
                </object>
            </div>

            {% block sidebar %}

            {% endblock %}

        </div><!-- /.blog-sidebar -->

    </div><!-- /.row -->

</div><!-- /.container -->

<footer class="blog-footer">
    <p>Blog built for <a href="http://getbootstrap.com">QiTianChao</a> by <a
            href="https://twitter.com/mdo">@chao</a>.</p>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/static/assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/static/bootstrap/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
